[Unit]
Description=Alertmanager
Wants=network-online.target
After=network-online.target

[Service]
User=root
ExecStart={{ alertmanager_install_dir }}/alertmanager
Restart=always

[Install]
WantedBy=multi-user.target
